html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #402a23;
}
.container {
  background-color: wheat;
}
#num {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
}
#num > span {
  padding: 20px;
  margin: 5px;
  font-size: 4rem;
  color: white;
  text-align: center;
  background: blue;
}
/* #number:nth-child(even) {
  color: red;
}
#number:nth-child(odd) {
  color: #402a23;
} */
